<!DOCTYPE html>
<html>
  <header></header>
    <body>

      <h2>Please enter the Contact ID you wish to delete:</h2>

        <label id="DELETEID" for="DELETEID">ID TO DELETE</label>
  
          <input id="DELETEID" type="text" name="DELETEID">

            <br>

          <input type="submit" name="Submit">

 

</body>
</html>