<!Doctype HTML>
<html>
<head>

</head>

<body>

<h3> Compu-Global-Hyper-Mega-Net Industries provide state of the art, super leading cutting edge fucking CRM programs or whatever! These programs are completely good for use in your totally, uber-professional environment, we're very sure. For CRM docs, or other good shit like that, please visit <a href="http://www.urbandictionary.com/define.php?term=FUCKING%20THING%20SUCKS">here.</a><br></h3>
<h4>Thanks for using <%= @crm_app_name %></h4>

</body>
</html>