<!DOCTYPE html>
<html>
  <header>
  	<div>
  	<li><a href="/">Home</a></li>
	<li><a href="/contacts">View all Contacts</a></li>
	<li><a href="/contacts/new">Add a Contact</a></li>
	<li><a href="/contacts/delete">Delete Contact</a></li>
	<li><a href="/contacts/modify">Modify Contact</a></li>
	</div>
	<br>
  <a href="/"><img src ="http://thinketg.com/wp-content/uploads/2013/11/crm-icon.png" height="100" width="100"></a>
  </header>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
 <footer>&copy; 2014 - 974 Studios</footer>
</html>