<!DOCTYPE html>
<html>
  <header><img src ="http://thinketg.com/wp-content/uploads/2013/11/crm-icon.png" height="100" width="100">
  CRM Industries
  </header>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
 <footer>(C) 974 Studios, 2014</footer>
</html>