<!DOCTYPE html>
<html>
  <header>
  	<div>
  	<li><a href="/">Home</a></li>
	<li><a href="/contacts">View all Contacts</a></li>
	<li><a href="/contacts/new">Add a Contact</a></li>
	</div>
	<br>
  <a href="/"><img src ="http://www.axiomfiles.com/Images/Dynamic/351956.png" height="150" width="500"></a>
  </header>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
 <footer>&copy; 2014 - 974 Studios</footer>
</html>