<!DOCTYPE html>
<html>
  <header></header>
  <body>

<h2>Create new Contact</h2>

  <form action="/contacts" method="post">
  
  <label id="first_name">First Name:</label>
  
  <input id="first_name" type="text" name="first_name"> <!--type attribute is dope, change from text to button etc, w/ string-->

  <br>

  <label id="last_name" for="Last Name">Last Name:</label>
  
  <input id="last_name" type="text" name="last_name">

  <br>

  <label id:"email" for="email">Email:</label>
  
  <input id:"email" type="text" name="email">

  <br>

  <label id="note" for="note">Note:</label>
  
  <input id="note" type="text" name="note">

  <br>

  <input type="submit" name="Submit">
</form>
</body>
</html>

<!-- is a good way of inputting a placeholding value for the user. don't use 'em as labels unless maybe a login--> 
