<!DOCTYPE html>
<html>
  <header></header>
  <body>

<h2>Create new Contact</h2>

  <form action="/contacts" method="post">
  
  <label for="First Name">First Name:</label>
  
  <input type="text" name="first_name">

  <br>

  <label for="Last Name">Last Name:</label>
  
  <input type="text" name="last_name">

  <br>

  <label for="email">Email:</label>
  
  <input type="text" name="email">

  <br>

  <label for="note">Note:</label>
  
  <input type="text" name="note">

  <br>

  <input type="submit" name="Submit">
</form>
</body>
</html>